/* styles.css */

* {
    font-family: "Times New Roman". 'Times New Roman', Times, serif;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }  

body {
    background-color: bisque;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
    text-align: center;
}

.home-title {
    text-align: center;
    font-style: oblique;
    font-size: 60px;
    border: 10px dotted darkslategrey;
    width: 500px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 35px;
    font-style: italic;
}

.home-recipe-list {
    font-size: 25px;
    padding-left: 0px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center; 

}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ingredients-list {
    font-weight: bold;
}

.home-recipe-list a {
    display: block;
    border: 5px solid goldenrod;
    padding: 10px 0px;
    width: 300px;
    margin: 10px auto;
    text-align: center;
}

.home-recipe-list a:hover {
    background-color: rgb(66 28 40);
    color: #fff;
}